/* gramatica.css */
.bg-main {
    background-color: #0f172a;
}

.bg-panel {
    background-color: #1e293b !important;
}

.bg-editor {
    background-color: #050a15 !important;
}

.card-custom {
    border-color: #334155 !important;
}

.text-monospace {
    font-family: 'Fira Code', monospace;
}


.canvas-area {
    background-color: #000;
    min-height: 400px;
    position: relative;
    background-image: radial-gradient(#1e293b 1px, transparent 1px);
    background-size: 20px 20px;
}

.canvas-grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.3;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.bg-editor::placeholder {
    color: #17b3da !important; 
    opacity: 0.8;
    font-style: italic;
}


.table-dark {
    --bs-table-bg: transparent; 
}

.italic-text {
    font-style: italic;
    color: #94a3b8;
}


.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.03) !important;
}